.App-link {
    color: #09d3ac;
}

.home-spec-box {
    width: 100%;
    padding: 5px;
}

.home-item {
    border: 1px solid whitesmoke;
    margin: 10px 5px;
}

.home-type {
    color: rgba(0, 0, 0, 0.6);
}

.home-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
}

.home-spec {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.6);
}

.spec-inner-lower-left-box {
    bottom: 0px;
    left: 5px;
}

.spec-inner-lower-right-box {
    text-align: right;
    bottom: 0px;
    right: 5px;
}

.ReactModal__Content {
    display: flex;
    flex-direction: column;
}

.DayPicker__withBorder {
    box-shadow: none !important;
}
